################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiClient/obj/Debug
/authservice/bin/Debug
/Logger/obj/Debug
