<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="GOOGLECLIENTID" value="938424580505-te0881nnntk573p067nmuqm093o8ned3.apps.googleusercontent.com" />
    <add key="GOOGLECLIENTSECRET" value="kdkVSv0Fw59UwoiCibPIOBEI" />
  </appSettings>
</configuration>